{% extends 'rus/base.html' %}
{% load static %}
{% block connect %}
    <div class="container-fluid bg-primary py-5 " style="margin-bottom: 90px;background-image: url({% static 'suka.jpg' %})">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">сертификат</h1>
                    <a href="{% url 'index_ru' %}" class="h5 text-white">Глава</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="{% url 'Certificate_ru' %}" class="h5 text-white">сертификат</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="mb-5">
                        <img class="img-fluid w-100 rounded mb-5" src="{{ product.images.url }}" alt="">
{#                        <h1 class="mb-4">Diam dolor est labore duo ipsum clita sed et lorem tempor duo</h1>#}
{#                        <p>Sadipscing labore amet rebum est et justo gubergren. Et eirmod ipsum sit diam ut#}
{#                            magna lorem. Nonumy vero labore lorem sanctus rebum et lorem magna kasd, stet#}
{#                            amet magna accusam consetetur eirmod. Kasd accusam sit ipsum sadipscing et at at#}
{#                            sanctus et. Ipsum sit gubergren dolores et, consetetur justo invidunt at et#}
{#                            aliquyam ut et vero clita. Diam sea sea no sed dolores diam nonumy, gubergren#}
{#                            sit stet no diam kasd vero.</p>#}
{#                        <p>Voluptua est takimata stet invidunt sed rebum nonumy stet, clita aliquyam dolores#}
{#                            vero stet consetetur elitr takimata rebum sanctus. Sit sed accusam stet sit#}
{#                            nonumy kasd diam dolores, sanctus lorem kasd duo dolor dolor vero sit et. Labore#}
{#                            ipsum duo sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et,#}
{#                            clita lorem sit vero amet amet est dolor elitr, stet et no diam sit. Dolor erat#}
{#                            justo dolore sit invidunt.</p>#}
{#                        <p>Diam dolor est labore duo invidunt ipsum clita et, sed et lorem voluptua tempor#}
{#                            invidunt at est sanctus sanctus. Clita dolores sit kasd diam takimata justo diam#}
{#                            lorem sed. Magna amet sed rebum eos. Clita no magna no dolor erat diam tempor#}
{#                            rebum consetetur, sanctus labore sed nonumy diam lorem amet eirmod. No at tempor#}
{#                            sea diam kasd, takimata ea nonumy elitr sadipscing gubergren erat. Gubergren at#}
{#                            lorem invidunt sadipscing rebum sit amet ut ut, voluptua diam dolores at#}
{#                            sadipscing stet. Clita dolor amet dolor ipsum vero ea ea eos.</p>#}
{#                        <p>Voluptua est takimata stet invidunt sed rebum nonumy stet, clita aliquyam dolores#}
{#                            vero stet consetetur elitr takimata rebum sanctus. Sit sed accusam stet sit#}
{#                            nonumy kasd diam dolores, sanctus lorem kasd duo dolor dolor vero sit et. Labore#}
{#                            ipsum duo sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et,#}
{#                            clita lorem sit vero amet amet est dolor elitr, stet et no diam sit. Dolor erat#}
{#                            justo dolore sit invidunt.</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

                    <!-- Blog Detail End -->


{#    #}
    <!-- Blog End -->




{% endblock %}